*{
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}

body{
  /*background-color:rgb(155,157,159)*/
  background-image: url("../img/back.png");
}
h1{
  font-size: 2.5em;

  color: gold;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

  font-style: italic;
  letter-spacing: .1em;
  line-height: 60px;
  padding-bottom: 30px;
    color:#46b8da;
}
.bgImg{
  width: 100%;
  /*height:580px;*/
  /*background-color: #282f39;*/
  position: relative;
}
img{
  height: 300px;
  margin-left: 10%;
  float: left;
}
.loginMain{
  width: 300px;
  height: 380px;
  padding: 15px 25px;
  background-color: rgba(98,98,98,0.6);
  float: left;
  border-radius: 15px;
  }

@media(min-width:992px){
  h1{
    margin-left: 200px;
  }
  .loginMain{
    margin:-40px 0 0 20%;
  }
}
@media(max-width:992px){
  h1{
    text-align: center;
  }
  .loginMain{
    margin:-40px 0 0 5%;
  }
}
p{
  margin:30px auto 5px;
  padding: 5px;
  background-color: white;
}
.lastP{
  margin-top: 10px;
  margin-bottom: 10px;
}
label[for="password"]{
  letter-spacing: 1.5em;
}
label[for="remember"]{
  color: white;
  font-size: .8em;
}
.input{
  border:0;
  background-color: white;
  width: 148px;
  display: inline-block;
}
.form-group {
  margin-bottom: 5px;
}
.btn{
  margin:20px 0;
  letter-spacing: .8em;
  font-size: 18px;
}
a{
  color: #f8d163;
  font-size: .8em;
}
a:hover{
  color: #69d0fb;
}
