table {
    text-align: center;
    width: 95%;
    /*height: 50px;*/
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    margin-top: 40px;
}


th,td {
    padding: .65em;
}

th {
    background: rgb(85, 85, 85) ;
    color: #fff;
}

/* tbody tr:hover {
    background: linear-gradient(#fff,#aaa);
    font-size: 17px;
} */

tbody tr:nth-child(odd) {
    background: rgb(93, 218, 250);
}

th:first-child {
    border-radius: 9px 0 0 0;
}

th:last-child {
    border-radius: 0 9px 0 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 9px;
}

tr:last-child td:last-child {
    border-radius: 0 0 9px 0;
}

h1,h3 {
    text-align: center;
}
.data_li{
    margin-top: 10px;
    list-style:none;
}
.data_ip{
    border: #2e6da4 2px solid;
    border-radius: 5px;
}
.data_ipt{
    border: #2e6da4 2px solid;
    border-radius: 5px;
    height: 50px;
    width: 163px;
}
#bannerImg{
    border-radius: 5px;
    padding-bottom: 2px;
}
.DS_second_section{
    border-bottom: #8c8c8c 2px solid;
}